.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}

/*
    Show border and round corner on book cover
*/
#book-list img {
    border: 1px solid black;
    width: ;
    width: 128px;
    height: 196px;
    border-radius: 5px;
}

/*
    Display book covers inline
*/
#book-list li {
    display: block;
    float: left;
    margin: 0;
    padding: 5px;
}

/*
    Zoom book cover on mouse over
*/
li:hover {
    background: #F0F8FF;

    /*Zoom*/
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
     transform:scale(1.05);
}
