<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/main/header.html'"></div>

<!-- Authenticated user -->
<div ng-show="isLoggedIn()" class="container">

 	<div class="row">
	    <div class="col-lg-12">
	      <h1 class="page-header">My Books<h1>
	      
		    <!-- Display all books -->
	    	<div id="book-list">
		      	<ul ng-repeat="book in bookList">
		      		<!-- Show books of the current user -->
		      		<li ng-show="book.userId == getCurrentUser()._id">
		    			<img ng-src="http://books.google.com/books/content?id= {{ book.googleId }} &amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api" alt="Effective Java" src="http://books.google.com/books/content?id={{ book.googleId }}&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api">
		    			<!-- <button type="button" class="close" ng-click="deleteBook(book)">×</button> -->
		    		</li>
		    	</ul>
		    	<div ng-show="bookList.length == 0" id="book-list-empty"><h3>No books added, add a book.</h3></div>
	    	</div>
      </div>
  </div>
</div>

<!-- Not authenticated user -->
<div ng-show="!isLoggedIn()" class="container">
	<br>
 	<h2>Must login to view content.</h2>
</div>

<!-- https://books.google.com/books/content?id=j5UgAAAAMAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api -->

<div ng-include="'components/main/footer.html'"></div>