<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/main/header.html'"></div>

<!-- Authenticated user -->
<div ng-show="isLoggedIn()" class="container">

	<h1 class="page-header">Your Trade Requests</h1>
	
	<!-- Choose action - your requests or requests for you -->
	<div id="action-button-group">
		<ul>
			<li>
				<button ng-click="chooseRequestType(1)" class="btn btn-success active">Your trade requests</button>
			</li>
			<li>
				<button ng-click="chooseRequestType(2)" class="btn btn-primary active">Trade requests for you</button>
			</li>
		</ul>
	</div>

  	<!-- User notifications -->
  	<div ng-show="requestListMessage"><h4>{{ requestListMessage }}</h4></div>
  	<div ng-show="deleteRequestMessage && requestList.length != 0"><h4>{{ deleteRequestMessage }}</h4></div>
  	<div ng-show="updateRequestMessage && requestList.length != 0"><h4>{{ updateRequestMessage }}</h4></div>
  	

	<!-- User requests -->
	<div class="row" ng-show="yourRequests">

		<div ng-show="yourRequestList.length == 0" id="book-list-empty"><h4><br>No book trade requested by you.<br></h4></div>

      	<div class="row">
		    <div class="col-lg-12">

		      	<h2>Your outstanding trade requests<h2>

		    	<div id="book-list">
			      	<ul ng-repeat="request in yourRequestList">
			      		<!-- Show outstanding (not approved requests) -->
			      		<li ng-show="request.approved == 0 && bookRequestList[request._id].googleId">
			      			<div id="img_container">
			      				<!-- Google book image uses google book API -->
				    			<img ng-src="http://books.google.com/books/content?id={{ bookRequestList[request._id].googleId }}&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api" alt="Effective Java" src="http://books.google.com/books/content?id={{ bookRequestList[request._id].googleId }}&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api">

				    			<!-- Display deleted if book deleted -->
				    			<div ng-show="bookRequestList[request._id].valid == 0">Deleted</div>

				    			<!-- Trade book button -->
				    			<a class="img_button" ng-click="deleteRequest(request._id)"><i class="fa fa-times"></i></a>

				    		</div>
			    		</li>
			    	</ul>
		    	</div>
		    </div>
		</div>
	    <br><br>

	    <div class="row">
	 	    <div class="col-lg-12">
		      	<h2>Your trade request was approved<h2>

		    	<div id="book-list">
			      	<ul ng-repeat="request in yourRequestList && bookRequestList[request._id].googleId">
			      		<!-- Show outstanding (not approved requests) -->
			      		<li ng-show="request.approved == 1">
			      			<div id="img_container">

			      				<!-- Google book image uses google book API -->
				    			<img ng-src="http://books.google.com/books/content?id={{ bookRequestList[request._id].googleId }}&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api" alt="Effective Java" src="http://books.google.com/books/content?id={{ bookRequestList[request._id].googleId }}&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api">

				    			<!-- Delete trade request button -->
				    			<a class="img_button" ng-click="deleteRequest(request._id)"><i class="fa fa-times"></i></a>

				    		</div>
			    		</li>
			    	</ul>
		    	</div>
		    </div>
		</div>
	</div>

 	<!-- Requests for the user -->
	<div class="row" ng-show="requestsForYou">

		<div ng-show="requestForYouList.length == 0" id="book-list-empty"><h4><br>No book trade requested for you.<br></h4></div>

      	<div class="row">
		    <div class="col-lg-12">

	 	    	<!-- Allow update delete -->
		      	<h2>Requests from other users<h2>

		    	<div id="book-list">
			      	<ul ng-repeat="request in requestForYouList">
			      		<!-- Show outstanding (not approved requests) -->
			      		<li ng-show="request.approved == 0 && bookRequestList[request._id].googleId">
			      			<div id="img_container">
			      				<!-- Google book image uses google book API -->
				    			<img ng-src="http://books.google.com/books/content?id={{ bookRequestList[request._id].googleId }}&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api" alt="Effective Java" src="http://books.google.com/books/content?id={{ bookRequestList[request._id].googleId }}&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api">

				    			<!-- Trade book button -->
				    			<a class="img_button" ng-click="deleteRequest(request._id)"><i class="fa fa-times fa"></i></a>
				    						    			<!-- Approve trade request button -->
				    			<a class="img_button_approve" ng-click="approveRequest(request._id, bookRequestList[request._id]._id)">&#10004;</a>

				    			<!-- Display deleted if book deleted -->
				    			<div ng-show="bookRequestList[request._id].valid == 0">Deleted</div>

				    			<!-- Delete trade request button -->
				    			<a class="img_button"  ng-click="deleteRequest(request._id)"><i class="fa fa-times"></i></a>
				    		</div>
			    		</li>
			    	</ul>
		    	</div>
		    </div>
		</div>
	    <br>

	    <div class="row">
	 	    <div class="col-lg-12">
	 	    	<!-- Allow delete only -->
		      	<h2>Requests you've approved<h2>

		    	<div id="book-list">
			      	<ul ng-repeat="request in requestForYouList">
			      		<!-- Show outstanding (not approved requests) -->
			      		<li ng-show="request.approved == 1 && bookRequestList[request._id].googleId">
			      			<div id="img_container">

			      				<!-- Google book image uses google book API -->
				    			<img ng-src="http://books.google.com/books/content?id={{ bookRequestList[request._id].googleId }}&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api" alt="Effective Java" src="http://books.google.com/books/content?id={{ bookRequestList[request._id].googleId }}&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api">

				    			<!-- Delete trade request button -->
				    			<a class="img_button" ng-click="deleteRequest(request._id)"><i class="fa fa-times"></i></a>

				    		</div>
			    		</li>
			    	</ul>
		    	</div>
		    </div>
		</div>
	</div>
</div>

<!-- Not authenticated user -->
<div ng-show="!isLoggedIn()" class="container">
	<br>
 	<h2>Must login to view content.</h2>
</div>

<div ng-include="'components/main/footer.html'"></div>